.searchBarObject {
    margin: 20px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .input{
    border-radius: 15px;
    margin: 5px;
    padding: 2px;
    line-height: 2.053;
    width: 500px;
  }
  
  button{
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    width: 70px;
  }